<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRedPill" />
                <binding name="BasicHttpsBinding_IRedPill">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
                contract="Services.IRedPill" name="BasicHttpBinding_IRedPill" />
            <endpoint address="https://knockknock.readify.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
                contract="Services.IRedPill" name="BasicHttpsBinding_IRedPill" />
        </client>
    </system.serviceModel>
</configuration>